<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body style="background: rgb(2,0,36);background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(101,28,223,1) 0%, rgba(0,212,255,1) 100%);">
        <div style="text-align: center; vertical-align: middle">
            <h1>You are {{ data['dog_match'][0] }} with a score of {{ data['dog_match'][1] }}</h1>
            <br>
            <div style="text-align: center;">
                <img src="{{local_images[data['dog_match'][0]] }}"/>
            </div>
            <p style="color:white">Following are scores for all dogs:</p>
            <ul>
                {% for dog,sum in all_data.items() %}
                    <li style="color:white"> {{ dog }}: {{ sum }}</li>
                {% endfor %}
            </ul>
            <a class="waves-effect waves-light btn" href="/login">Go Back</a>
        </div>
        <br>
    </body>
</html>